.ProductCartItem{
    border-radius: 5px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    border: 1px dotted silver;
    text-align: center;
}
.ProductCartItem .cardLift {
    height: 100px;
}
.ProductCartItem .cardLift img {
    max-height: 100%;
}
.ProductCartItem .cardRight{
    height: 100px;
}
.ProductCartItem .cardMiddel button{
    all: unset;
    width: 30px;
    padding: 5px 10px;
    border: 1px solid silver;
    margin: 0 10px;
    border-radius: 5px;
}
.cardLift , .cardMiddel , .cardRight {
    width: 33.33%;
}